.pullRightBtns {
    margin-left: calc(100% - 130px);
}
.pullRightSave {
    margin-left: 10px;
}
.listTable {
    width: calc(100% - 50px);
    margin: auto;
}

.fade.modal-backdrop.in {
    z-index: 1;
}
div.fade.in.modal{
    z-index: 1 !important;
}